body{
    font-family: Arial,sans-serif;
    background: #f4f4f4;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.dark-mode{
    background-color: #222;
    color: #f4f4f4;
}

.container{
    max-width: 500px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    margin: auto;
    padding: 20px;
}

/* for dark mode  */
.dark-mode .container{
    background-color: #444;
    color: #f4f4f4;
}

.options button{
    display: block;
    width: 100%;
    background-color: #e3e3e3;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 150px 0 150px 0;

    margin: 10px 0;
    padding: 10px;
}

.options button:hover{
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.dark-mode .options button{
    background-color: #666;
    color: #fff;
}

.options button:hover{
    background-color: #333;
    color: #fff;
    transform: scale(1.1); 
}

.correct{
    background-color: steelblue !important;
    color: #fff;
}

.wrong{
    background-color: red !important;
    color: #fff;
}

.nextbtn{
    font-size: 16px;
    cursor: pointer;

    display: none;

    margin-top: 15px;
    padding: 5px 15px;
}

.dark-mode .nextbtn,.dark-mode #result button{
    background-color: #888;
    color:#fff;
    border: none;
}

#result{
    display: none;
}

#result button{
    font-size: 16px;
    cursor: pointer;

    margin-top: 15px;
    padding: 10px 20px;
}

